body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(253, 204, 255);
}
table{
    text-align: center;
    border: 1px solid black;
}

table tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}
table tr th{
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}

table th, td {
    padding: 8px 20px;
    text-align: center;
}

table tr:hover {
    background-color: ghostwhite;
}

table tr:nth-child(even) {
    background-color: white;
}
table tr:hover {
    background-color: ghostwhite;
}

table tr:nth-child(even) {
    background-color: white;
}
